<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat&family=Playfair+Display+SC&display=swap"
    rel="stylesheet">
    {{!-- favicon --}}
  <link rel="shortcut icon" href="/assets/img/logofavicon.png" />
  {{!-- Our stylesheet --}}
  <link rel="stylesheet" href="/css/styles.css">

  <title>Shelf Indulgence Book Club Community</title>
</head>

<body>
  {{{body}}}
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> --}}
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io()
  </script>

  {{!-- Used for testing Socket.io in Localhost --}}
  {{!-- <script src='http://localhost:8080/'></script> --}}

  {{!-- JQuery --}}
  <script src="https://code.jquery.com/jquery.js"></script>

  {{!-- Bootstrap --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
    
  {{!-- Our JS Files --}}
  
  <script src="/js/frontend.js"></script>
  <script src="/js/signup.js"></script>
  <script src="/js/login.js"></script>
</body>

</html>