
{{!-- page title --}}
<header class="top logo">
  <h1>Book Club</h1>
</header>

{{!-- navigation bar --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Book Club</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Join</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Chat</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

{{!-- currently reading section --}}
<div class="container-fluidrow currentRead">
  <h3>currently Reading</h3>
<div class="card-deck">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <img src="" alt="book pic 1">
      <p class="card-text">book 1 details</p>
    </div>
  </div>
  <div class="card bg-warning">
    <div class="card-body text-center">
      <img src="" alt="book pic 2">
      <p class="card-text">book 2 details</p>
    </div>
  </div>
  <div class="card bg-success">
    <div class="card-body text-center">
      <img src="" alt="book pic 3">
      <p class="card-text">book 3 details</p>
    </div>
  </div>
</div>

</div>

{{!-- 3 collum section --}}

<div class="card-deck">
  <div class="card bg-primary">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the first card</p>
    </div>
  </div>
  <div class="card bg-warning">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the second card</p>
    </div>
  </div>
  <div class="card bg-success">
    <div class="card-body text-center">
      <p class="card-text">Some text inside the third card</p>
    </div>
  </div>
</div>

{{!-- footer --}}
<footer class = "footer col-12"> 
<p>book club</p>
</footer>







=======
<input class="test" />
<button class="testbtn">Submit</button>
<br><br><br>
<div class="card">
    <div class="card-header">Hello</div>
    <div class="card-body">
        <textarea id="testArea">

        </textarea>
    </div>
</div>

