button.submit {
  float: right;
}

.navbar-brand{
  padding-left: 31px;
}
.jumbotron{
  margin-bottom: 0;
  padding: 15px;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

#searchRes{
  float: left;
}

.card {
  
    width: 12em;
    box-shadow: 2px 2px 6px #696969;
    margin: 25px;
    float: left;
    border-radius: 5%;
  }


.coverPic {
  width: 100%;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 5%;
    border: 6px solid #eee
}
.overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .coverPic {
  opacity: 0.3;
  border: 5px solid #696969;
  border-radius:  5%;
}

.card:hover .overlay {
  opacity: 1;
  
}

.book-searched:active{
  transform:scale(0.95);
}

.card-deck{
  margin: 0 !important;
}

.nonDisplay {
  display: none;
}


/* book cards in the current section */
.current{
  background-color: #DEFCE7;
  margin: 20px;
  margin-left: 50px;
  box-shadow: 0 8px 16px 0 #696D7F;
}

/* main card of current section */
.currentRead {
  padding-top: 40px;
  text-align: center;

  
}

/* bottom 3 cards */
.other{
  background-color: #DEFCE7;
  box-shadow: 0 8px 16px 0 #696D7F;
}

body {
  background-image: url('../assets/bookStack.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
    display: block;
    margin: 0 auto;
}

/* search cards */
/* .test{ 
  width: 150px;
  float: left;
  width: 25%;
  padding: 0 10px;
} */

.btn-primary{
  background-color: #6C7C69;
  border: #6C7C69;
}

.btn-primary:hover{
  background-color: #B1C9B9;
  
}

.btn-primary:active{
  background-color: #487D58;
  
}

#message-container{
  height: 269px;
  background-color: #323b40;
  width: 100%;
  font-weight: 600;
  /* position: fixed; */
  overflow: auto;
  margin-top: 0%;
  border: 5px solid #dfe3e5;
  border-bottom: none;

}

.chat-page{
  background-color: #000;
  /* height: 337px; */
    color: #dce0e3;
    /* padding-top: 6%; */
    width: 100%;
    display: block;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
}

#message-input{
  width: 97%;
  height: 51px;
  display: block;
  margin: 0 auto;
  
  background: #212529;
  border: none;
  color: #dce0e3;
  padding-left: 14px;
}

#send-button{
  margin: 13px;
  background-color: #6C7C69;
  height: 46px;
  font-size: 20px;
  font-weight: 500;
  color: #dce0e3;
  width: 27%;
}

.btn-success {
  color: #dce0e3;
  background-color: #6C7C69;
  border-color: #6C7C69;
}

.btn-success:hover {
  
  background-color: #6C7C69;
  border-color: #6C7C69;
}


#send-container{
  
  width: 100%;
    display: block;
    margin: 0px auto;
    margin-bottom: 0px;
    background: #323b40;
    padding-top: 21px;
    border: 5px solid #dfe3e5;
}

.login-page{
  
  background-color: #323b40;
    height: 100%;
    color: #dce0e3;
    padding-top: 8%;
    width: 100%;
    display: block;
    margin-top: 10%;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #dce0e3;
  }

  .chat-title{
  color: #dce0e3;
}

.username{
  width: 50%;
    height: 49px;
    background-color: #323b40;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #dce0e3;
    display: block;
    margin: 0 auto;
    color: #dce0e3;
    font-size: 24px;
}

.btn-primary{
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 10%;
    /* height: 26% !important; */
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
}

.coverPic{
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 200px;
}

.user-disconnected, .user-connected{
  color: #dce0e3;
  margin: 9px;
  width: 97%;
}

.received-message{
  max-width: 38%;
  margin: 13px;
  background-color: #46a6d1;
  color: #dce0e3;
  border-radius: 8px;
  padding: 8px;
  animation-duration: 0.5s;
  animation-name: slideout;
}

.newMessage{
  max-width: 38%;
    margin: 9px;
    color: #dce0e3;
    background: #dc9c3e;
    border-radius: 8px;
    padding: 8px;
    margin-left: 59%;
    /* font-family: 'Roboto', sans-serif; */
    animation-duration: 0.5s;
    animation-name: slidein;
  }


  @keyframes slidein {
  from {
    margin-left: 0%;
    width: 300%; 
  }

  to {
    margin-right: 100%;
    width: 100%;
  }
}

@keyframes slideout {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #message-container{
      height: 80%;
    }
}

@media (min-width: 601px) and (max-width: 850px){
  #message-container{
    height: 61%;
}
}

.title{
  font-family: 'Berkshire Swash', cursive;

  color: #323B40 ;
}


.smTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #323B40;
  width: 50%;
}
.card-text {
  font-family: 'Montserrat', sans-serif;
  color: #323B40
}

.nav{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #323B40
}

.btn-primary{
  color:white;
}


#bookSearch{
  background: #323B40;
    width: 100px;
    color: white;
    display: block;
    border: 2px solid #323B40;
    margin: 0 auto;
    padding: 8px;
}

.card-heading{
  font-family: 'Montserrat', sans-serif;
}

