button.submit {
  float: right;
}

.navbar-brand{
  padding-left: 31px;
}
.jumbotron{
  margin-bottom: 0;
  padding: 15px;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

#searchRes{
  float: left;
}

.navbar {
  background-color: aqua;
}

.card {
  /* border: 1px solid black; */
  width: 12em;
  display: block;
  margin: 25px;
  float: right;
  /* margin: 25px; */
  /* margin-right: 28px; */
  /* margin-top: 10px;*/
  }


.coverPic {
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}
.overlay{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .coverPic {
  opacity: 0.3;
}

.card:hover .overlay {
  opacity: 1;
}




/* book cards in the current section */
.current{
  background-color: #DEFCE7;
  margin: 20px;
  margin-left: 50px;
  box-shadow: 0 8px 16px 0 #696D7F;
}

/* main card of current section */
.currentRead {
  padding-top: 40px;
  text-align: center;


}

/* bottom 3 cards */
.other{
  background-color: #DEFCE7;
  box-shadow: 0 8px 16px 0 #696D7F;
}

body {
  background-image: url('../assets/bookStack.png');
  
}

/* search cards */
/* .test{ 
  width: 150px;
  float: left;
  width: 25%;
  padding: 0 10px;
} */

.btn-primary{
  background-color: #6C7C69;
  border: #6C7C69;
}

.btn-primary:hover{
  background-color: #B1C9B9;

}

.btn-primary:active{
  background-color: #487D58;

}

