button.submit {
  float: right;
}




.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.author-container {
  margin-top: 50px;
}

.author-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 30px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#author-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}


.navbar {
  background-color: aqua;
}

.card {
  border: 1px solid black;
  margin: 200px;

}


.coverPic {
  max-width: 50px; max-height: 50px;
}


/* book cards in the current section */
.current{
  background-color: #DEFCE7;
  margin: 20px;
  margin-left: 50px;
  box-shadow: 0 8px 16px 0 #696D7F;
}

/* main card of current section */
.currentRead {
  padding-top: 40px;
  text-align: center;


}

/* bottom 3 cards */
.other{
  background-color: #DEFCE7;
  box-shadow: 0 8px 16px 0 #696D7F;
}

body {
  background-image: url('../assets/bookStack.png');
  
}

/* search cards */
.test{ 
  width: 150px;
  float: left;
  width: 25%;
  padding: 0 10px;
}

.btn-primary{
  background-color: #6C7C69;
  border: #6C7C69;
}

.btn-primary:hover{
  background-color: #B1C9B9;

}

.btn-primary:active{
  background-color: #487D58;

}

